.main-page-heading {
    font-size: 55px;
    margin-left: 5%;
    color: dodgerblue;
    opacity: 0.9;
}
.font-text {
    margin-left: 5%;
}
.main-page-foto img {
    height: 550px;
    width: 750px;
}
.main-page-info {
    width: 45%;
    text-align: right;
    margin: 7%;
}
.main-page-foto {
    width: 40%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.main-page-interface {
    display: flex;
    justify-content: space-evenly;
}